[submodule "Bhazel/vendor/spdlog"]
	path = Bhazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Bhazel/vendor/glm"]
	path = Bhazel/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Bhazel/vendor/imgui"]
	path = Bhazel/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Bhazel/vendor/glfw"]
	path = Bhazel/vendor/glfw
	url = https://github.com/glfw/glfw
