[submodule "Bhazel/vendor/spdlog"]
	path = Bhazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Bhazel/vendor/GLFW"]
	path = Bhazel/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Bhazel/vendor/imgui"]
	path = Bhazel/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
